.btn {
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #65626f 51%,
    #2b5876 100%
  );
  background-size: 200% auto;
  transition: all 0.5s ease-out;
}

.btn:hover {
  background-position: right center;
  box-shadow: 0 0.2rem 10px 0.1rem #1d1b1bd1;
  text-decoration: none;
}

.btn:active {
  scale: 90%;
}
